html,
body,
#app{
  height: 100%;
  margin: 0;
}

#app{
  display: flex;

}

.box{
  width: 300px;
  height: 60px;
  background: red;
  margin: 5px;
  /* flex-grow: 1; */
  /* flex-shrink: 1; */
  flex: 1 0;
}